@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Source+Sans+Pro:wght@400;700;900&display=swap');
/*
 *font-family: 'Source Sans Pro', sans-serif;
 *font-family: 'Noto Serif', serif;
*/

:root {
  --text: #88C0D0;
  --text-secondary: #D8DEE9;
  --text-faded: #4C566A;
  --check-toggled: #B48EAD;
  --background: #2E3440;
  --background-card: #3B4252;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: var(--background);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  position: relative;
}

header {
  font-family: 'Noto Serif', serif;
  font-size: 1.4em;
  color: var(--text-secondary);
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header button {
  cursor: pointer;
  outline: none;
  border: 2px solid var(--text-secondary);
  border-radius: var(--border-radius);
  padding: 16px;
  font-size: 1em;
  background: none;
  color: var(--text-secondary);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card {
  max-width: 18rem;
  padding: 16px;
  background: var(--background-card);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.card-header {
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 16px;
}

.header-buttons {
  display: flex;
  gap: 4px;
}

.header-buttons button {
  color: var(--check-toggled);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.card-dsc {
  text-align: justify;
  color: var(--text-secondary);
  flex: 1;
}

.card-info {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.card-author,
.card-pages {
  color: var(--text-secondary);
}

.card-author h3,
.card-pages h3 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--text);
}

.read-container {
  --side: 1.5rem;
  --border-radius: calc(var(--side) /2);
  cursor: pointer;
}

.read-input {
  display: none;
}

.read-sub .unchecked {
  display: inline;
}

.read-sub .checked {
  display: none;
}

.read-input:checked ~ .read-sub {
  background: var(--check-toggled);
  color: vat(--text-secondary)
}

.read-input:checked ~ .read-sub .checked {
  display: inline;
}

.read-input:checked ~ .read-sub .unchecked {
  display: none;
}

.read-sub {
  width: var(--side);
  height: var(--side);
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--text-faded);
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reference {
  display: none;
}

.moodle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.moodle-open {
  display: flex;
}

.moodle-container {
  width: 100%;
  max-width: 500px;
  background: var(--background-card);
  border-radius: var(--border-radius);
  padding: 32px;
}

#moodle-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-stacked {
  display: block;
}

.moodle-section {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.moodle-section textarea ,
.moodle-section input {
  color: var(--text-secondary);
  border: none;
  border-bottom: 2px solid var(--text-faded);
  background: none;
  outline: none;
}

.moodle-section textarea {
  font-family: 'Source Sans Pro', sans-serif;
  resize: none;
}

.moodle-section input {
  font-size: 1.1em;
}

.moodle-section textarea:focus ,
.moodle-section input:focus {
  border-bottom: 2px solid var(--text-secondary);
}

.moodle-read {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-submit {
  cursor: pointer;
  outline: none;
  border: 2px solid var(--text-secondary);
  border-radius: var(--border-radius);
  padding: 16px;
  font-size: 1em;
  background: none;
  color: var(--text-secondary);
}
