* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sketch.container {
    width: 100%;
    height: 100%;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    display: inline-block;
    background: limegreen;
    border: 1px darkgreen solid;
}

.cell.colored {
    background: black;
}
