@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Roboto:wght@300;700&display=swap');

:root {
    --main-color-dark: hsl(181,100%,40%);
    --main-color-darker: hsl(181,100%,39%);
    --main-color-light: hsl(180,93%,88%);
    --main-color-lighter: hsl(180,93%,98%);
    --background-gr-dark: hsl(233,33%,37%);
    --background-gr-light: hsl(173,88%,44%);
    --text-main: hsl(180,93%,88%);
    --text-highlight: hsl(180,25%,82%);
    --accent-color: hsl(0,100%,76%);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: hidden;
    background: var(--background-gr-light);
    background: -webkit-radial-gradient(center, var(--background-gr-light), var(--background-gr-dark));
    background: -moz-radial-gradient(center, var(--background-gr-light), var(--background-gr-dark));
    background: radial-gradient(ellipse at center, var(--background-gr-light), var(--background-gr-dark));    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-main);
}

footer {
    text-align: center;
    color: var(--text-highlight);
}

footer a ,
footer a:link {
    color: var(--text-main);
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-color);
}

.calc-container {
    width: 30rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    flex: 1;
}

.buttons * {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.buttons *:hover {
    cursor: pointer;
}

.number,
.operator {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.number {
    color: var(--main-color-dark);
    background: var(--main-color-light);
}

.number-zero {
    grid-column: span 2;
}

.number-row-one {
    grid-row: 1;
}

.number-row-two {
    grid-row: 2;
}

.number-row-three {
    grid-row: 3;
}

.number-row-four {
    grid-row: 4;
}

.operator {
    color: var(--main-color-light);
    background: var(--main-color-dark);
    grid-column: 4;
}

.operator.equal {
    grid-column-start: 1;
    grid-column-end: span 3;
}

.display-container,
.display-high,
.display-low {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-container{
    padding: 8px;
    background: var(--main-color-dark);
    border-radius: 5px;
    flex-direction: column;
    gap: 8px;
}

.display-high,
.display-low {
    gap: 4px;
    flex-direction: row-reverse;
}

.number-svg.reference ,
.equality-svg.reference ,
.operator-svg.reference {
    display: none;
}

.number-svg ,
.operator-svg ,
.equality-svg {
    height: 100%;
}

.number-svg-segment ,
.operator-svg-segment ,
.equality-svg-segment {
    fill: var(--main-color-darker);
}

.number-svg-segment.shaded ,
.operator-svg-segment.shaded ,
.equality-svg-segment.shaded {
    fill: var(--main-color-lighter);
}
